# 飞书多维表格配置
BASE_TOKEN=your_base_token_here

# 成长计划助手表格ID
SCHEDULE_TABLE=tblAO5xVkCvkVW07
TASK_TABLE=tblI3CavMGlKSbml
HABIT_TABLE=tblo9s6Q3G5Y131X
IDEA_TABLE=tbl6qkMfJ30GjC2Y

# 飞书任务清单ID
LEARNING_TASKLIST=424aad40-5fea-47c1-b846-48416b53f685
WORK_TASKLIST=55eb10db-31ed-4aee-bbf9-9dd97235e7d9
LIFE_TASKLIST=3dda1822-a9a8-4ab9-b6ea-a278283b8224

# 日历ID (可选，默认使用用户主日历)
# CALENDAR_ID=your_calendar_id_here
